;:root
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #99674f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1{
     font-family: font-family: "Dancing Script", cursive;
     margin:30px;
}